// 
// _table.scss
//
table {
  width: 100%;
  font-weight: $font-weight-bold;
}

.table {
  th {
    font-family: $font-family-serif;
      font-weight: $font-weight-bold;
  }
}

//Table centered
.table-centered {
  td,th {
      vertical-align: middle !important;
  }
}

.table-nowrap {
  th, td {
    white-space: nowrap;
  }
}

.small-datatable {
  border-collapse: separate;
  border-spacing: 0 5px;

  tr {
    td {
      padding: 5px 5px 5px 15px;
    }
  }
}
